page-home {
<<<<<<< HEAD
    ion-navbar.page-home {
        background-color: #FF69B4;
    }
    ion-content.page-home {
        background-color: #FF69B4;
    }
    ion-list.page-home {
        background-color: #FF69B4;
    }
}
=======

}
>>>>>>> a635465554b206490ad996b72a8cd429b7924e92
