page-home {
    ion-navbar.page-home {
        background-color: #FF69B4;
    }
    ion-content.page-home {
        background-color: #FF69B4;
    }
    ion-list.page-home {
        background-color: #FF69B4;
    }
}